/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# DevEco 预览缓存，禁止提交
entry/.preview/
# 编译产物
build/
.harmony/
# IDE缓存
.idea/
.hvigor/cache/
# 依赖缓存
oh_modules/
# 鸿蒙预览编译缓存
shared/.preview/
# workbuddy本地记录文件
.workbuddy/